/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.tap_top {
    margin-top: 200px;
}

.modal1 {
    background: #EEEEEE;
    border: 2px solid #757575;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.date {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    text-align: center;
}

.yourbobbo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.button_send {
    background: linear-gradient(263.86deg, #673AB7 30.5%, #512DA8 65.9%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    color: aliceblue;
    width: 350px;
    height: 60px;
    margin-top: 15px;
}

.button_send1 {
    background: linear-gradient(263.86deg, #673AB7 30.5%, #512DA8 65.9%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 46.5px;
    color: aliceblue;
    width: 350px;
    height: 60px;
    margin-top: 15px;
    margin-bottom:10px;
    align-self:center;

}

.email {
    background: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    margin-top: 20px;
}

.cent {
    background: #FFFFFF;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    align-self:center;
    margin-top: 20px;
}

.address {
    background: #FFFFFF;
    border-radius: 10px;
    width: 350px;
    height: 30px;
    margin-top: 5px;
}

.standtext {
    font-family: Raleway;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #757575;
    margin-top: 10px;
}

.close1 {
    background: #fff url("../Vector.png") no-repeat;
    background-size: 100%;
    margin-right: 0px;
    margin-left: 470px;
}

.standtext1 {
    font-family: Raleway;
    font-style: normal;
    font-size: 20px;
    line-height: 18px;
    color: #757575;
    margin-top: 14px;
    text-align: center;
}

.miv {
    position: absolute;
    width: 120px;
    height: 25px;
    left: 185px;
    top: 60px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.vpk {
    position: absolute;
    left: 180px;
    top: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
}

.login {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 190px;
    top: 250px;
    background: #F7F7F7;
    border: 2px solid #757575;
    box-sizing: border-box;
    border-radius: 10px;
}

.passw {
    position: absolute;
    width: 300px;
    height: 35px;
    left: 190px;
    top: 325px;
    background: #F7F7F7;
    border: 2px solid #757575;
    box-sizing: border-box;
    border-radius: 10px;
}

.loginbtn {
    position: absolute;
    width: 220px;
    height: 45px;
    left: 190px;
    top: 400px;
    color: #FFFFFF;
    background: linear-gradient(263.86deg, #673AB7 30.5%, #512DA8 65.9%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    background: #FFFFFF url("../bgr.svg") no-repeat bottom;
    background-size: cover;
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
